.page_manager {
    margin: 10px 25% 0;
}

.page_manager__buttons_box {
    text-align: center;
}

.page_manager__rule_list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.page_manager__rule_list__rule {
    clear: both;
    border-bottom: 1px dashed gray;
    padding: 5px 0;
}

.page_manager__buttons_box__save_button {
    margin: 0 5px;
    font-size: 1em;
    background-color: transparent;
    color: #545AA7;
    border: 1px solid #545AA7;
    transition: all 0.5s;
}

.page_manager__buttons_box__save_button:hover,
.page_manager__buttons_box__save_button:focus {
    background-color: #545AA7;
    color: white;
    cursor: pointer;
}

.page_manager__group__name {
    font-size: 0.9em;
    font-weight: bold;
}

.page_manager__unique__name {
    font-weight: bold;
    font-size: 0.9em;
    padding-right: 0.5em;
}

.page_manager__unique__url {
    font-size: 0.75em;
    color: gray;
}

.page_manager__top__icon_buttons {
    color: #545AA7;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.5s;
}

.page_manager__top__icon_buttons:hover,
.page_manager__top__icon_buttons:focus {
    color: white;
    background-color: #545AA7;
    transition: all 0.5s;
}

.page_manager__bottom__icon_buttons {
    color: black;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.5s;
}

.page_manager__bottom__icon_buttons:hover,
.page_manager__bottom__icon_buttons:focus {
    color: white;
    background-color: black;
    transition: all 0.5s;
}

.page_manager__form__title {
    font-weight: bold;
}

.page_manager__form__field {
    margin: 10px 0;
    display: block;
    clear: both;
}

.page_manager__form__field__value {
    display: block;
    float: right;
}

.page_manager__form__validation_error_message {
    margin: 10px 0;
    color: red;
    font-size: 0.75em;
}

.page_manager__form__buttons_box {
    clear: both;
    text-align: center;
}

.page_manager__form__submit_button {
    margin: 0 5px;
    font-size: 1em;
    background-color: transparent;
    color: #545AA7;
    border: 1px solid #545AA7;
    transition: all 0.5s;
}

.page_manager__form__submit_button:hover,
.page_manager__form__submit_button:focus {
    background-color: #545AA7;
    color: white;
    cursor: pointer;
}

.page_manager__form__reset_button {
    margin: 0 5px;
    font-size: 1em;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    transition: all 0.5s;
}

.page_manager__form__reset_button:hover,
.page_manager__form__reset_button:focus {
    background-color: red;
    color: white;
    cursor: pointer;
}