* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    font-size: 12px;
}

fieldset {
    outline: none;
    border: none;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 5px;
}