.modal__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    border: 1px solid black;
    padding: 5%;
}

.fieldset{
    outline: none;
    border: none;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 5px;
}

.unique_entry__name{
    font-size: 0.9em;
    font-weight: bold;
    padding-right: 5px;
}

.unique_entry__url{
    font-size: 0.9em;
    padding-right: 5px;
}

.group_entry__name{
    font-size: 1.25em;
    font-weight: bold;
    padding-right: 5px;
}